.ml-item {
    width: 250px;
    position: relative;

    &:hover {
        cursor: pointer;
        transform: translateY(-10px);
        transition: transform 0.25s;
    }

    &__image {
        border-radius: 12px;
        width: 100%;
        height: 400px;
        object-fit: cover;
    }

    &__title {
        font-size: 1em;
        text-align: center;
        margin: 0;
    }

    &__rating {
        position: absolute;
        top: 0;
        right: 12px;
        background-color: #1a1a1a;
        padding: 4px 12px;
        border-radius: 8px;
        font-size: 0.8em;
        font-weight: 500;
        color: white;
    }

    &__favorite {
        position: absolute;
        top: -20px;
        left: -20px;
        background-color: white;
        height: 40px;
        width: 40px;
        border-radius: 100%;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        align-items: center;
        justify-content: center;

        &:hover {
            cursor: pointer;
        }
    }
}