.movie-details {
    padding: 40px 0;;
    display: flex;

    &__image {
        width: 400px;
    }

    &__info {
        margin-left: 40px;
        display: flex;
        flex-direction: column;

        h2 {
            margin: 0;
        }

        p {
            max-width: 400px;
        }
    }
}